streamlit==1.39.0
torch==2.4.1+cpu
torchvision==0.19.1+cpu
opencv-python-headless==4.10.0.84
mediapipe==0.10.15
numpy==1.26.4
pillow==10.4.0
matplotlib==3.9.2
inference-sdk==0.21.0
ultralytics==8.3.15
flask==3.0.3